:root {
  --primary-color: #264ED2;
  --black-color: #2A2B2D;
  --white-background-color-primary: #F3F3F3;
  --white-background-color-secondary: #E4E8FD;
  --border-color: #D1D1D1;
  --hero-background-highlight: #F7F7F7;
  --text-muted-color: #7C7C7C;
}